---
import { Image } from "astro:assets";
---

<div class="max-w-6xl mx-auto space-y-8">
  <div class="text-center space-y-4">
    <h2 class="text-3xl md:text-4xl font-bold">Proyectos Destacados</h2>
    <p class="text-lg md:text-xl text-gray-400">
      Una muestra de mi trabajo en desarrollo web.
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 m-16">
    <!-- Project -->
    <div
      class="border border-gray-700 text-card-foreground bg-[#161B22] rounded-md overflow-hidden group"
      data-v0-t="card"
    >
      <a
        class="block relative group-hover:scale-105 transition-transform duration-300"
        href="#"
      >
        <Image
          src="/NOAMock.png"
          width="600"
          height="400"
          alt="Project 1"
          class="object-cover w-full h-48 md:h-64"
          style="aspect-ratio: 600 / 400; object-fit: cover;"
        />

        <div
          class="absolute inset-0 bg-gradient-to-t from-[#0D1117] to-transparent opacity-80"
        >
        </div>
        <div class="absolute bottom-4 left-4 space-y-1">
          <h3 class="text-md font-semibold">NOA</h3>
          <p class="text-gray-400">Diseñado para jugadores</p>
        </div>
      </a>
      <div class="p-4 flex gap-2">
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md bg-[#5d39c0] px-4 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-[#8563D9] flex-1"
          href="https://s14-09-ft-node-react.vercel.app/"
        >
          Visitar
        </a>
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md border border-[#9E7BFF] bg-transparent px-4 text-sm font-medium text-[#9E7BFF] shadow-sm transition-colors hover:bg-[#9E7BFF]/10 flex-1"
          href="https://github.com/No-Country/s14-09-ft-node-react"
        >
          Repositorio
        </a>
      </div>
    </div>
    <div
      class="border border-gray-700 text-card-foreground shadow-sm bg-[#161B22] rounded-md overflow-hidden group"
      data-v0-t="card"
    >
      <a
        class="block relative group-hover:scale-105 transition-transform duration-300"
        href="#"
      >
        <img
          src="/GoCoMock.png"
          width="600"
          height="400"
          alt="Project 1"
          class="object-cover w-full h-48 md:h-64"
          style="aspect-ratio: 600 / 400; object-fit: cover;"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-[#0D1117] to-transparent opacity-80"
        >
        </div>
        <div class="absolute bottom-4 left-4 space-y-1">
          <h3 class="text-md font-semibold">GoCourier</h3>
          <p class="text-gray-400">Aplicacion para gestion de envios</p>
        </div>
      </a>
      <div class="p-4 flex gap-2">
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md bg-[#5d39c0] px-4 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-[#8563D9] flex-1"
          href="https://c16-03-m-node-react.vercel.app/"
        >
          Visitar
        </a>
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md border border-[#9E7BFF] bg-transparent px-4 text-sm font-medium text-[#9E7BFF] shadow-sm transition-colors hover:bg-[#9E7BFF]/10 flex-1"
          href="https://github.com/MaxiValfre/C16-03-m-node-react-"
        >
          Repositorio
        </a>
      </div>
    </div>
    <!-- Projecto -->
    <div
      class="border border-gray-700 text-card-foreground shadow-sm bg-[#161B22] rounded-md overflow-hidden group"
      data-v0-t="card"
    >
      <a
        class="block relative group-hover:scale-105 transition-transform duration-300"
        href="#"
      >
        <img
          src="/MinaMock.png"
          width="600"
          height="400"
          alt="Project 1"
          class="object-cover w-full h-48 md:h-64"
          style="aspect-ratio: 600 / 400; object-fit: cover;"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-[#0D1117] to-transparent opacity-80"
        >
        </div>
        <div class="absolute bottom-4 left-4 space-y-1">
          <h3 class="text-md font-semibold">Mina Clavero</h3>
          <p class="text-gray-400">Landing page para Mina Clavero</p>
        </div>
      </a>
      <div class="p-4 flex gap-2">
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md bg-[#5d39c0] px-4 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-[#8563D9] flex-1"
          href="https://github.com/MaxiValfre/Final-Project-Santex-Traslasierra"
        >
          Visitar
        </a>
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md border border-[#9E7BFF] bg-transparent px-4 text-sm font-medium text-[#9E7BFF] shadow-sm transition-colors hover:bg-[#9E7BFF]/10 flex-1"
          href="https://github.com/MaxiValfre/Final-Project-Santex-Traslasierra"
        >
          Repositorio
        </a>
      </div>
    </div>
    <!-- Project -->
    <div
      class="border border-gray-700 text-card-foreground shadow-sm bg-[#161B22] rounded-md overflow-hidden group"
      data-v0-t="card"
    >
      <a
        class="block relative group-hover:scale-105 transition-transform duration-300"
        href="#"
      >
        <img
          src="/CampCoopMock.png"
          width="600"
          height="400"
          alt="Project 1"
          class="object-cover w-full h-48 md:h-64"
          style="aspect-ratio: 600 / 400; object-fit: cover;"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-[#0D1117] to-transparent opacity-80"
        >
        </div>
        <div class="absolute bottom-4 left-4 space-y-1">
          <h3 class="text-md font-semibold">Coop El Campillo</h3>
          <p class="text-gray-400">Pagina de la Cooperativa del Campillo</p>
        </div>
      </a>
      <div class="p-4 flex gap-2">
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md bg-[#5d39c0] px-4 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-[#8563D9] flex-1"
          href="https://www.coopdelcampillo.com.ar/"
        >
          Visitar
        </a>
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md border border-[#9E7BFF] bg-transparent px-4 text-sm font-medium text-[#9E7BFF] shadow-sm transition-colors hover:bg-[#9E7BFF]/10 flex-1"
          href="https://www.coopdelcampillo.com.ar/"
        >
          Repositorio
        </a>
      </div>
    </div>
    <!-- Project -->
    <div
      class="border border-gray-700 text-card-foreground shadow-sm bg-[#161B22] rounded-md overflow-hidden group"
      data-v0-t="card"
    >
      <a
        class="block relative group-hover:scale-105 transition-transform duration-300"
        href="#"
      >
        <img
          src="/GitHubMock.png"
          width="600"
          height="400"
          alt="Project 1"
          class="object-cover w-full h-48 md:h-64"
          style="aspect-ratio: 600 / 400; object-fit: cover;"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-[#0D1117] to-transparent opacity-80"
        >
        </div>
        <div class="absolute bottom-4 left-4 space-y-1">
          <h3 class="text-md font-semibold">Telegram Bot</h3>
          <p class="text-gray-400">Bot de Ofertas para Telegram</p>
        </div>
      </a>
      <div class="p-4 flex gap-2">
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md bg-[#5d39c0] px-4 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-[#8563D9] flex-1"
          href="https://github.com/MaxiValfre/telegram-bot"
        >
          Visitar
        </a>
        <a
          target="_blank"
          class="inline-flex h-8 items-center justify-center rounded-md border border-[#9E7BFF] bg-transparent px-4 text-sm font-medium text-[#9E7BFF] shadow-sm transition-colors hover:bg-[#9E7BFF]/10 flex-1"
          href="https://github.com/MaxiValfre/telegram-bot"
        >
          Repositorio
        </a>
      </div>
    </div>

    <!-- Project -->

    <div
      class="border border-gray-700 text-card-foreground shadow-sm bg-[#161B22] rounded-md overflow-hidden group"
      data-v0-t="card"
    >
      <a
        class="block relative group-hover:scale-105 transition-transform duration-300"
        href="#"
      >
        <img
          src="/WIPMock.png"
          width="600"
          height="400"
          alt="Project 1"
          class="object-cover w-full h-48 md:h-64"
          style="aspect-ratio: 600 / 400; object-fit: cover;"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-[#0D1117] to-transparent opacity-80"
        >
        </div>
        <div class="absolute bottom-4 left-4 space-y-1">
          <h3 class="text-md font-semibold">Proximamente</h3>
          <p class="text-gray-400"></p>
        </div>
      </a>
      <div class="p-4 flex gap-2">
        <a
          class="disable inline-flex h-8 items-center justify-center rounded-md bg-[#5d39c0] px-4 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-[#8563D9] flex-1"
          href="#"
        >
          Visitar
        </a>
        <a
          class="inline-flex h-8 items-center justify-center rounded-md border border-[#9E7BFF] bg-transparent px-4 text-sm font-medium text-[#9E7BFF] shadow-sm transition-colors hover:bg-[#9E7BFF]/10 flex-1"
          href="#"
        >
          Repositorio
        </a>
      </div>
    </div>
  </div>
</div>
